body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.condensed {
    font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.bg-primary {
    background-color: #d32f2f !important;
}

.text-primary {
    color: #d32f2f !important;
}

.text-primary-variant {
    color: #ef5350;
}

.btn {
    font-weight: bold;
}

.btn.btn-primary {
    background-color: #d32f2f;
}

.form-outline .form-control + label {
    color: #424242 !important;
}

.tabbable {
    position: relative;
}

.tabbable .nav-tabs {
    overflow-x: auto;
    box-sizing: content-box;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tabbable .nav-tabs .nav-link {
    white-space: nowrap;
    margin: 0 0.2rem;
    padding: 0.85rem 1rem;
    border-bottom: unset !important;
}

.tabbable .nav-tabs .nav-link:hover {
    background: rgba(211, 47, 47, 0.04);
    border-radius: 0.25rem;
}

.tabbable .nav-tabs .nav-link.active {
    color: #d32f2f;
    font-weight: bold;
    background: rgba(211, 47, 47, 0.15);
    border-radius: 0.25rem;
}

.tabbable .nav-tabs .nav-item:last-child .nav-link {
    margin-right: 3.5rem;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    transform: scale(1.01) translateY(-2px);
}

.modal .form-control + label {
    z-index: 3000;
}
.form-control + label {     
    transition: 0.2s all ease-in-out;
}

.form-control.active + label {    
    line-height: normal !important;
    background: white !important;
}

.form-control.active:disabled + label {
    background: linear-gradient(180deg, white 0%, white 25%, #e9ecef 75%, #e9ecef 100%) !important;
}

input[type="file"].form-control {
    border-color: rgb(0, 0, 0, 0.25) !important;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0, 0.25) !important;
}

label.required::after {
    content: "*";
    margin-inline-start: 2px;
    color: #d32f2f;
}

[class*="form-notch"] {
    border-color: rgb(0, 0, 0, 0.25) !important;
}


.overhide {
    transition: all 0.2s ease-in-out;    
    height: unset !important;
}

.overhide.hidden {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow-y: hidden !important;
    height: 0 !important;
}