[class*=col] .card.pentablet::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: scale(1.5) translate(-50%, -50%);
    opacity: 0.7;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition: all 2s ease-out;
}

[class*=col] .card.pentablet:hover::before {
    top: 50%;
    left: 50%;
    transition: all 20s ease-out;
    transform: scale(1.75) translate(-45%, -50%);
}

[class*=col] .card.pentablet {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
    text-shadow: 1px 1px white;    
}

[class*=col]:nth-child(n) .card.pentablet::before {    
    background-image: url('../images/banner-0.png');            
}

[class*=col]:nth-child(2n) .card.pentablet::before {    
    background-image: url('../images/banner-1.jpg');        
}

[class*=col]:nth-child(3n) .card.pentablet::before {    
    background-image: url('../images/banner-2.jpg');        
}

[class*=col]:nth-child(4n) .card.pentablet::before {    
    background-image: url('../images/banner-3.jpg');        
}

[class*=col]:nth-child(5n) .card.pentablet::before {    
    background-image: url('../images/banner-4.jpg');        
}

.card.pentablet > *{
    z-index: 1;
    background: rgba(255,255,255, 0.5);    
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0.15) 70%, rgba(255,255,255,0) 100%); 
}

@media only screen and (min-width: 576px) {
    .card.pentablet > *{
        z-index: 1;
        background: rgb(255,255,255);
        background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.75) 60%, rgba(255,255,255,0.15) 80%, rgba(255,255,255,0) 100%); 
    }   
}

.card.pentablet {
    position: relative;
    background: transparent !important;
}