#background {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-image: url("../images/bg.jpg");
}

#background::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.75);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#sign-in {
  max-width: 420px;
  min-height: 100vh;
  background-color: rgba(33, 37, 41, 0.75);
}

#sign-in .form-control {
  color: white !important;
}

#sign-in .form-control + label {
  background: unset !important;
  color: rgba(255, 255, 255, 0.85) !important;
}

#sign-in [class*=form-notch] {
  border-color: rgba(255, 255, 255, 0.5) !important;
}